@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

body {
	background: #000;
	font-family: 'Roboto', sans-serif;
}

.header-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.logo img {
  width: 6.75rem;
  height: 2rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
}


.selected-lang {
	color: #fff;
	font-weight: normal;
}

.lang-menu {
	width: 100px;
	text-align: right;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}
.lang-menu .selected-lang {
  display: flex;   
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
}
.lang-menu .selected-lang:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(https://www.countryflags.io/us/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #333;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
  list-style: none;
  text-align: left;
	font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
	color: #fff;
  width: 125px;
  padding: 5px 10px;
  display: block;
}

.lang-menu ul li:hover {
  background-color: #333;
}

.lang-menu ul li a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.de:before {
  background-image: url(https://www.countryflags.io/de/flat/32.png);
}

.en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.fr:before {
  background-image: url(https://www.countryflags.io/fr/flat/32.png);
}

.ar:before {
  background-image: url(https://www.countryflags.io/ae/flat/32.png);
}


.lang-menu:hover ul {
  display: block;
}