
body {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	background: #ededed;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/*HEADER SECTION */
header {
	background: #fff059;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.img-logo img {
	width: 105px;;
	padding-left: 10px;
	padding-right: 20rem;
}

.help-icon img {
	width: 14px;
	height: 14px;
	padding-left: 10px;
	padding-right: 5px;
}

/* MAIN SECTION */
main .wrap {
	background: #fff059;
	width: 100%;
	height: 90px;
	position: absolute;
}

form {
	display: flex;
  flex-direction: column;
  margin: 0 1.6rem 1.6rem 1.6rem;
  padding: 0 1.6rem 1.5rem 1.6rem
}

.form-container {
	display: flex;
	flex-direction: column;
  justify-content: center;
	width: 320px;
	height: 380px;
	max-width: 26.5rem;
	background-color: #fff;
	color: rgba(0,0,0,.8);
	border: 1px solid transparent;
	border-radius: 6px;
	box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 15%);
	margin: 0.125rem auto 0;
}

main .form-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .0125rem;
	overflow-wrap: break-word;
	margin: 0 1.2rem 0 1.2rem;
  padding: 1.5rem 25px 1.5rem 25px;
}


label {
	font-weight: 100;
  line-height: 1.0714285714em;
  color: rgba(0,0,0,.8);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Montserrat';
  font-size: 10px;
  transition: .2s ease-out;
  padding: 0px;
}

input[type="text"] {
	padding: 10px 10px;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
	border-radius: 6px;
}


.continue {
	display: flex;
  justify-content: center;
  padding: 10px 10px;
  width: 198px;
  border: transparent;
  border-radius: 6px;
  background: #3483fa;
	color: #ffffff;
  margin: 10px 0px;
	cursor: pointer;
}

.continue:hover {
	background: #2968c8;
}

.continue a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.register {
	display: flex;
  justify-content: center;
  padding: 10px 10px;
  width: 198px;
  border: transparent;
  border-radius: 6px;
  background: #ffffff;
  margin: 10px 0px;
	cursor: pointer;
}

.register:hover {
	background:#ebf3fd;
}

.register a {
	text-decoration: none;
	font-weight: bold;
	color: #3483fa;
}

.border {
	border-top: 1px solid #e5e5e5;
	padding-top: 1.3rem;
  display: flex;
  justify-content: center;
}

.border a {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #3483fa;
}

.recaptcha-terms-container {
	font-family: 'Roboto', sans-serif;
  color: #666666;
  font-size: .75rem;
	font-weight: bolder;
  text-align: center;
  margin: 1.5rem 0 5.5rem;
  padding-top: 27rem;
	margin: 0;
}

.recaptcha-terms-container a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 10px;
	font-weight: bolder;
	color: #739efc;
}

footer {
	background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
	padding: 2rem;
}


footer a {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #373737;
}

footer .footer-copyright {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #8f8f8f;
	padding-top: 10px;
}
