html {
	box-sizing: border-box;
	background: #e6e6e6;
}

body {
	width: 100%;
	margin: 0;
}

header {
	background: #fff059;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
}

/* header .navigation {
	top: 0;
} */

.img-logo img {
	width: 105px;;
	padding-left: 10px;
	padding-right: 10px;
}

.help-icon img {
	width: 14px;
	height: 14px;
	padding-left: 10px;
	padding-right: 10px;
}